#clockContainer{
    position: relative;
    margin: auto;
    background-color: rgb(30, 255, 0);
    height: 44vw;
    width: 44vw;
    background: url(clock.png) no-repeat;
    background-size: 100%;
    
}

#hour, #minute, #seconds{
    position: absolute;
    background: black;
    border-radius: 10px
    

}
#hour{
    width: 1.8%;
    height: 25%;
    top: 25%;
    left: 48.85%;
    opacity: 0.8; 
    transform-origin: bottom; 
    animation-duration: 43200s;
}
#minute{
    width: 1.6%;
    height: 30%;
    top: 19%;
    left: 48.9%;
    opacity: 0.8;  
    transform-origin: bottom;
    animation-duration: 3600s;
}
#seconds{
    width: 1%;
    height: 40%;
    top: 9%;
    left: 49.25%;
    opacity: 0.8; 
    transform-origin: bottom;
    animation-duration: 60s;
}
.animate {
    animation-name: rotate;
    animation-iteration-count:infinite;
    animation-timing-function:linear;}
  
  .hand {
    transform-origin: top center;
  }
  
  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }